.clr-neutral-100 {
  color: #ffffff;
}

.bg-neutral-100 {
  background-color: #ffffff;
}

.clr-neutral-200 {
  color: rgba(246, 246, 246, 0.9647058824);
}

.bg-neutral-200 {
  background-color: rgba(246, 246, 246, 0.9647058824);
}

.clr-neutral-300 {
  color: #eeeeee;
}

.bg-neutral-300 {
  background-color: #eeeeee;
}

.clr-neutral-900 {
  color: #101825;
}

.bg-neutral-900 {
  background-color: #101825;
}

.clr-primary-400 {
  color: #40c375;
}

.bg-primary-400 {
  background-color: #40c375;
}

.clr-primary-500 {
  color: #15a24c;
}

.bg-primary-500 {
  background-color: #15a24c;
}

.clr-secondary-400 {
  color: #EEF1FF;
}

.bg-secondary-400 {
  background-color: #EEF1FF;
}

.clr-secondary-500 {
  color: #D2DAFF;
}

.bg-secondary-500 {
  background-color: #D2DAFF;
}

.clr-other-rd {
  color: #fce1e0;
}

.bg-other-rd {
  background-color: #fce1e0;
}

.clr-other-drd {
  color: #814a4a;
}

.bg-other-drd {
  background-color: #814a4a;
}

.pd-8 {
  padding: 0.5rem;
}

.pd-12 {
  padding: 0.75rem;
}

.pd-16 {
  padding: 1rem;
}

.pd-20 {
  padding: 1.25rem;
}

.pd-24 {
  padding: 1.5rem;
}

.pd-32 {
  padding: 2rem;
}

.pd-36 {
  padding: 2.25rem;
}

.pd-48 {
  padding: 3rem;
}

.fs-900 {
  font-size: 3.75rem;
}

.fs-800 {
  font-size: 3rem;
}

.fs-700 {
  font-size: 2rem;
}

.fs-600 {
  font-size: 1.5rem;
}

.fs-500 {
  font-size: 1.3125rem;
}

.fs-400 {
  font-size: 1.125rem;
}

.mbtm-8 {
  margin-bottom: 0.5rem;
}

.mbtm-12 {
  margin-bottom: 0.75rem;
}

.mbtm-16 {
  margin-bottom: 1rem;
}

.mbtm-20 {
  margin-bottom: 1.25rem;
}

.mbtm-24 {
  margin-bottom: 1.5rem;
}

.mbtm-32 {
  margin-bottom: 2rem;
}

.mbtm-36 {
  margin-bottom: 2.25rem;
}

.mbtm-48 {
  margin-bottom: 3rem;
}

.mtp-8 {
  margin-top: 0.5rem;
}

.mtp-12 {
  margin-top: 0.75rem;
}

.mtp-16 {
  margin-top: 1rem;
}

.mtp-20 {
  margin-top: 1.25rem;
}

.mtp-24 {
  margin-top: 1.5rem;
}

.mtp-32 {
  margin-top: 2rem;
}

.mtp-36 {
  margin-top: 2.25rem;
}

.mtp-48 {
  margin-top: 3rem;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

.flow > * + * {
  margin-top: var(--flow-spacer, 1rem);
}

.high-flow > * + * {
  margin-top: 2rem;
}

.grid-flow {
  display: grid;
  gap: var(--gap, 1rem);
  justify-content: center;
}

.flex-row {
  display: flex;
  gap: var(--gap, 1rem);
  align-items: center;
}

.flex-column {
  display: flex;
  gap: var(--gap, 1rem);
  flex-direction: column;
  align-items: center;
}

.cols-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.cols-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.cols-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.cols-5 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
}

.cols-6 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1rem;
}

.cols-7 {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 1rem;
}

.cols-8 {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 1rem;
}

.grid-row-full {
  grid-column: 1/-1;
}

.text-start {
  text-align: start;
}

.text-center {
  text-align: center;
}

.text-end {
  text-align: end;
}

.fw-bold {
  font-weight: 700;
}

.fw-extra-bold {
  font-weight: 900;
}

.br-1 {
  border-radius: 0.5rem;
}

.br-2 {
  border-radius: 1rem;
}

.br-100 {
  border-radius: 100%;
}

body {
  font-family: "Segoe UI", sans-serif;
  font-size: 1rem;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}

.container {
  max-width: min(1200px, 100% - 4vw);
  margin-inline: auto;
}

main {
  flex: 1;
}

li {
  display: inline-block;
}

a {
  -webkit-text-decoration: 0;
          text-decoration: 0;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
}

textarea,
input {
  width: min(500px, 100% - 2vw);
  padding: 0.5rem;
  font-size: 1.125rem;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  resize: none;
}
textarea:focus,
input:focus {
  border: 1px solid #40c375;
  outline: none;
}

button {
  padding: 0.5rem;
  font-size: 1.125rem;
  cursor: pointer;
}

.card {
  border-radius: 7px;
  box-shadow: 0 0 7px 3px rgba(0, 0, 0, 0.1);
}

.tag {
  border-radius: 1rem;
  padding: 0.5rem;
}
.tag.high {
  color: #814a4a;
  background-color: #fce1e0;
}
.tag.medium {
  color: #814a4a;
  background-color: #fce1e0;
}
.tag.low {
  color: #814a4a;
  background-color: #fce1e0;
}

.fullscreen_form {
  display: flex;
  align-items: center;
  flex-grow: 1;
  flex-shrink: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.fullscreen_form .container {
  background-color: #ffffff;
}
.fullscreen_form form {
  margin-inline: auto;
}

.registration-form form {
  width: min(35rem, 96vw);
}
.registration-form form label {
  width: min(500px, 100% - 2vw);
}
.registration-form button {
  background-color: #40c375;
  color: #ffffff;
  border: none;
  border-radius: 7px;
  padding-block: 0.75rem;
}
.registration-form img {
  max-width: 300px;
  margin-inline: auto;
}

.with_sidebar {
  margin-left: min(21rem, 25%);
}

.sidebar {
  position: fixed;
  height: 100%;
  width: min(21rem, 25%);
  color: #ffffff;
  background-color: #101825;
  padding: 1.5rem;
}
.sidebar img {
  max-height: 5rem;
}
.sidebar .main_menu,
.sidebar .sub_menu {
  width: 100%;
}
.sidebar li {
  min-width: 100%;
  text-align: left;
  display: flex;
  align-items: center;
  margin-block: 0.5rem;
  padding: 0.5rem;
  border-radius: 5px;
  cursor: pointer;
}
.sidebar li.selected {
  background-color: #15a24c;
}
.sidebar li:hover {
  color: #40c375;
}
.sidebar li span {
  margin-right: 0.5rem;
}
.sidebar li a {
  width: 100%;
}
.sidebar .lists-container {
  position: relative;
  height: calc(100vh - 5rem - 3rem);
  justify-content: space-between;
}

.workspace {
  width: calc(100% - 21rem);
  padding-block: 2rem;
  padding-inline: 5rem;
  min-height: 100vh;
  background-color: rgba(246, 246, 246, 0.9647058824);
}
.workspace .container {
  width: 100%;
  max-width: none;
}

button {
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 7px;
  font-size: 1rem;
  padding-inline: 1rem;
}

.button_alt {
  background-color: #40c375;
  color: #ffffff;
}

.dashboard .container {
  grid-template-rows: repeat(1fr, 4);
}
.dashboard .container > * {
  min-height: 10rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 7px;
  text-align: start;
  background-color: #ffffff;
  box-shadow: 0 0 1px 0px rgba(0, 0, 0, 0.2);
}
.dashboard .container input {
  width: 100%;
}
.dashboard .container span {
  font-size: 3rem;
  font-weight: 300;
}
.dashboard .container label {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  font-weight: 700;
}
.dashboard .container .greeting {
  grid-column: 1/-1;
}
.dashboard .container .completed_tasks {
  grid-column: 1/4;
  grid-row: 2;
}
.dashboard .container .open_tickets {
  grid-column: 4/7;
  grid-row: 2;
}
.dashboard .container .todo_list {
  grid-column: 1/5;
  grid-row: 3;
}
.dashboard .container .todo_list input::after {
  content: "salkdjfkaldsf";
  background-color: black;
  z-index: 5;
}
.dashboard .container .todo_list li {
  display: flex;
  width: 100%;
  align-items: center;
}
.dashboard .container .todo_list li:first-child {
  margin-top: 0.5rem;
}
.dashboard .container .todo_list li .task_name {
  font-size: 1rem;
  flex-grow: 1;
}
.dashboard .container .todo_list li .material-icons {
  font-size: 1rem;
}
.dashboard .container .personal_files {
  grid-column: 5/8;
  grid-row: 3;
}

.tickets .container,
.users .container {
  position: relative;
  display: table;
  border-radius: 1rem 1rem 0 0;
  overflow: hidden;
  border-collapse: collapse;
}
.tickets .container .filter,
.tickets .container .col,
.users .container .filter,
.users .container .col {
  display: table-cell;
  padding: 1rem;
  text-align: left;
}
.tickets .container label,
.users .container label {
  display: block;
  text-align: left;
  width: 100%;
  margin-bottom: 0.5rem;
}
.tickets .container input,
.users .container input {
  width: 100%;
  font-size: 1rem;
}
.tickets .container a,
.users .container a {
  text-decoration: underline;
}
.tickets .container a:hover,
.users .container a:hover {
  color: #40c375;
}
.tickets .container .row,
.users .container .row {
  display: table-row;
  background-color: #ffffff;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 1rem;
}
.tickets .container .row:first-child,
.users .container .row:first-child {
  background-color: #eeeeee;
  border: none;
}
.tickets .container .row:last-child,
.users .container .row:last-child {
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border: none;
  border-radius: 0 0 1rem 1rem;
}
.tickets .container .row:last-child div,
.users .container .row:last-child div {
  display: flex;
  gap: 1.5rem;
  max-height: 3rem;
  justify-content: space-between;
  align-items: center;
}
.tickets .container .row:last-child div input,
.users .container .row:last-child div input {
  width: 4rem;
}

.users .col:first-child {
  font-weight: bold;
}
.users .buttons > * {
  display: flex;
  gap: 1rem;
  justify-content: center;
}
.users .buttons > * button {
  font-size: 1rem;
  width: auto;
  max-width: 35%;
}

.newUserForm,
.createTicketForm {
  background-color: rgba(0, 0, 0, 0.2);
}
.newUserForm .container,
.createTicketForm .container {
  background-color: rgba(246, 246, 246, 0.9647058824);
  width: min(65rem, 47%);
}
.newUserForm form,
.createTicketForm form {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
.newUserForm form input,
.newUserForm form textarea,
.createTicketForm form input,
.createTicketForm form textarea {
  width: 100%;
}
.newUserForm form .cancel_create,
.newUserForm form .priority_buttons,
.createTicketForm form .cancel_create,
.createTicketForm form .priority_buttons {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
}
.newUserForm form input[type=radio],
.createTicketForm form input[type=radio] {
  display: none;
}
.newUserForm form input[type=radio]:checked + label,
.createTicketForm form input[type=radio]:checked + label {
  background-color: #40c375;
  color: #ffffff;
}
.newUserForm form label,
.createTicketForm form label {
  padding-block: 0.5rem;
  padding-inline: 1.25rem;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.newUserForm form button,
.createTicketForm form button {
  padding-block: 0.5rem;
  padding-inline: 1.25rem;
  max-width: 16rem;
}

.newUserForm .container {
  width: min(50rem, 35%);
}
.newUserForm label {
  width: auto;
}
.newUserForm .btns {
  display: flex;
  gap: 1.25rem;
}

.ticket .buttons,
.ticket .container {
  display: flex;
  gap: 1rem;
}
.ticket .container {
  padding-block: 5rem;
}
.ticket .general_info {
  width: 65%;
  padding: 1rem;
}
.ticket .buttons {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1.25rem;
}
.ticket .buttons button {
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 0.5rem;
}
.ticket .buttons button span {
  margin-right: 0.25rem;
}
.ticket .misc_info {
  width: 35%;
  padding: 1rem;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}/*# sourceMappingURL=base.css.map */